<section>
  <div class="container">
      <div class="row" style="margin-top: 5%;">
          <a href="admin/add-product" class="btn btn-success" style="width: 20%; margin-left: auto;">Add Product</a>
      </div>
    <table class="table table-dark" style="margin-top: 5%;" id="productTable">
      <thead>
        <tr>
          <th scope="col">NO</th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
          <th scope="col">Image</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
          {{#each products}}
        <tr>
          <td style="color: black;">{{@index}}</td>
          <td style="color: black;">{{this.Product}}</td>
          <td style="color: black;">{{this.Price}}</td>
          <td style="color: black;">{{this.Category}}</td>
          <td><img style="width: 50px; height: 50px;" src="/product-images/{{this._id}}.jpg" alt=""></td>
          <td>
            <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
            <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger" onclick="return confirm('Do you intend to delete {{this.name}} ?')">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>

<script>
  $(document).ready( function () {
    $('#productTable').DataTable();
} );

</script>